<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectakhir">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
    </activity>
        <activity android:name=".AdminActivity">
        </activity>
        <activity android:name=".CRUDDosen.EditDosenActivity">
        </activity>
        <activity android:name=".CRUDDosen.DosenActivity">

        </activity>
        <activity android:name=".CRUDKRS.DaftarKRSActivity">

        </activity>
        <activity android:name=".CRUDKRS.EditKRSActivity">

        </activity>
        <activity android:name=".CRUDKRS.TampilKRSActivity">

        </activity>
        <activity android:name=".CRUDMahasiswa.DataDiriMhsActivity">

        </activity>
        <activity android:name=".CRUDMahasiswa.TampilMahasiswaActivity">

        </activity>
        <activity android:name=".CRUDMatkul.EditMatkulActivity">

        </activity>
        <activity android:name=".CRUDMatkul.TampilMatkulActivity">

        </activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>